<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <style>
    body {
      text-align:left;
    }
    header {
      text-align:center;
    }
    .weather {
      font-size:2rem;
    }
    div.container {
      width:480px;
      margin: 0 auto;
    }
    .love {
      font-size: 4em;
    }
    .countryCode {
      padding: 10px 15px; 
      background-color: yellow;
      margin: 1px;
    }
    .hidden {
      display: none;
    }
    .animate {
      opacity:1!important;
      height:auto!important;
    }
    .showElem {
      display: inline-block;
    }
    .weatherData {
      opacity:0;
      height:0;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
    }
  </style>
  <link rel="stylesheet" href="/css/loading.css">	
</head>
<body>
  <header>
    <a href="/">Your page</a> | <a href="/about">About this page of yours</a>
  </header>
  {{ content | safe }}
</body>
</html>

